[user]
	email = moloneer@tcd.ie
	name = Eric Moloney
[alias]
	ls = ls-tree -r master
	s = status
	nb = checkout -b
	co = checkout
	b = branch
    amend = commit --amend
    sf = show --name-only
    cb = rev-parse --abbrev-ref HEAD
[url "git@github.com:"]
	insteadOf = https://github.com/
